.header{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    padding: 0 250px;
    top: 15px;
    font-family: 'Montserrat';
    width: 100%;
}

.nav-wrap, .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.nav a{
    color: #fff;
}

.nav a:hover{
    border-style: solid;
    padding: 5px;
    color: #fe563a;
    border-radius: 5px;
    border-bottom-width: 4px;
    border-bottom: 4px solid linear-gradient(to right, #fe563a 0%, #e43a78 100%);
}

.btn{
    display: flex;
    margin-left: 15px;
    border-radius: 15px;
    background: linear-gradient(to right, #fe563a 0%, #e43a78 100%);
    color: #fff;
    padding: 10px;
    gap: 10px;
    min-width: 100px;
}

i{
    color: #fff;
}

.menu-bar{
    font-size: larger;
}

.hero{
    background-image: url(../İMGS/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
